# Entorno virtual
venv/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]

# Base de datos local
db.sqlite3
db.sqlite3-journal

# Archivos subidos por usuarios
media/

# Variables de entorno y credenciales
.env
.env.*
!.env.example
MANUAL_INSTALACION_Y_USO_ENCUENTRAHUELLAS.txt

# Archivos del editor
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
