{% extends 'mascotas/base.html' %}

{% block content %}

<section class="login-seccion">
    <div class="login-contenedor">

        <h1>Crear cuenta</h1>
        <p>Crea tu cuenta para publicar y administrar tus avisos.</p>

        <form method="post">
            {% csrf_token %}

            {{ formulario.as_p }}

            <button type="submit" class="btn">
                Crear cuenta
            </button>
        </form>

        <p>
            ¿Ya tienes una cuenta?
            <a href="{% url 'login' %}">Iniciar sesión</a>
        </p>

    </div>
</section>

{% endblock %}